:root {
  --primary: #f723a9;
  --secondary: #37941b;
  --secondary-light: #59db39;
  --white: #fff;
  --shadow: #40f040;
}

body {
  font-family: sans-serif;
  line-height: 2.5;
  margin: 0;
  padding: 0 2rem;
  background-color: black;
}

button {
  background-color: var(--primary);
  border: 1;
  color: var(--white);
  flex-grow: 0;
  font-size: 1rem;
  line-height: 1;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
  font-family: 'Bangers', cursive;
}

button:hover {
  filter: drop-shadow(2px 2px 30px #c2f98e);
}

input + button {
  margin-left: 2px;
}

form {
  padding: 1rem 0;
}

input {
  background-color: var(--secondary-light);
  border: 2px solid var(--secondary);
  color: var(--white);
  flex-grow: 1;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  width: 100%;
  font-family: 'Bangers', cursive;
}

input::placeholder {
  color: var(--white);
}

input:focus,
input:hover {
  background-color: var(--secondary);
  outline: 0;
}

.form-horizontal {
  align-items: center;
  display: flex;
}

.title {
  font-family: 'getSchwifty';
  color: rgb(78, 224, 20);
  display: flex;
  justify-content: center;
  font-size: 4rem;
  align-content: center;
}

.names {
  font-family: 'getSchwifty';
  color: white;
}

.profilePic:hover {
  filter: drop-shadow(2px 2px 30px #c2f98e);
}

@media (min-width: 600px) {
  button + button,
  input + button {
    margin-left: 1rem;
  }
  .gallery {
    column-count: 2;
  }
  .head {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .gallery {
    column-count: 3;
  }
}

@media (min-width: 1400px) {
  .gallery {
    column-count: 4;
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.captionName {
  color: black;
}

.muted {
  color: white;
  font-family: 'Bangers', cursive;
}

.describe {
  color: black;
  font-family: 'Bangers', cursive;
}

.navBar {
  font-family: 'Bangers', cursive;
  display: flex;
  /* justify-content: space-between; */

  justify-content: center;
}

.nav {
  color: #c2f98e;
  padding: 0px 10px;
}

.oops {
  color: #c2f98e;
  font-family: 'Bangers', cursive;
}

.about {
  color: #c2f98e;
  font-family: 'Bangers', cursive;
}

.nav:hover {
  color: rgb(78, 224, 20);
}

@font-face {
  font-family: 'getSchwifty';
  src: local('getSchwifty'), url(./font/get_schwifty.ttf) format('truetype');
}
