:root {
  --primary: #2b4b74;
  --secondary: #296935;
  --secondary-light: #5aa367;
  --white: #fff;
}

body {
  font-family: sans-serif;
  line-height: 2.5;
  margin: 0;
  padding: 0 2rem;
  background-color: black;
}

button {
  background-color: var(--primary);
  border: 1;
  color: var(--white);
  flex-grow: 0;
  font-size: 1rem;
  line-height: 1;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
  font-family: 'Bangers', cursive;
}

input + button {
  margin-left: 2px;
}

form {
  padding: 1rem 0;
}

input {
  background-color: var(--secondary-light);
  border: 2px solid var(--secondary);
  color: var(--white);
  flex-grow: 1;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  width: 100%;
  font-family: 'Bangers', cursive;
}

input::placeholder {
  color: var(--white);
}

input:focus,
input:hover {
  background-color: var(--secondary);
  outline: 0;
}

.form-horizontal {
  align-items: center;
  display: flex;
}

.title {
  font-family: 'Bangers', cursive;
  color: white;
  display: flex;
  justify-content: center;
}

.names {
  font-family: 'Bangers', cursive;
  color: white;
}

@media (min-width: 600px) {
  button + button,
  input + button {
    margin-left: 1rem;
  }
  .gallery {
    column-count: 2;
  }
  .head {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .gallery {
    column-count: 3;
  }
}

@media (min-width: 1400px) {
  .gallery {
    column-count: 4;
  }
}

.captionName {
  color: black;
}

.muted {
  color: white;
  font-family: 'Bangers', cursive;
}

.describe {
  color: black;
  font-family: 'Bangers', cursive;
}

.nav {
  color: gray;
  font-family: 'Bangers', cursive;
  display: flex;
  justify-content: center;
}

.oops {
  color: gray;
  font-family: 'Bangers', cursive;
}

.about {
  color: gray;
  font-family: 'Bangers', cursive;
}

.nav:hover {
  color: green;
}
